name: Deploy site to gh-pages
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy src/ to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages        # branch de destino
          folder: src             # publica o conteúdo de src/ no root de gh-pages
          token: ${{ secrets.GITHUB_TOKEN }}
